:root {
  --dark-navy: #1A2A33;
  --semi-dark-navy: #1F3641;
  --silver: #A8BFC9;
  --silver-hover: #DBE8ED;
  --blue: #31C3BD;
  --blue-hover: #65E9E4;
  --yellow: #F2B137;
  --yellow-hover: #FFC860;

  --yellow-shadow: #CC8B13;
  --blue-shadow: #118C87;
  --silver-shadow: #6B8997;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--dark-navy);
  color: var(--silver);
}

#app {
  max-width: 1280px;
  font-weight: normal;
}
