:root {
  --dark-navy: #1a2a33;
  --semi-dark-navy: #1f3641;
  --silver: #a8bfc9;
  --silver-hover: #dbe8ed;
  --blue: #31c3bd;
  --blue-hover: #65e9e4;
  --yellow: #f2b137;
  --yellow-hover: #ffc860;

  --yellow-shadow: #cc8b13;
  --blue-shadow: #118c87;
  --silver-shadow: #6b8997;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--dark-navy);
  color: var(--silver);
  letter-spacing: 1px;
  height: 100vh;
}

#app {
  font-weight: normal;
}
